<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Admin Layout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <div th:replace="~{admin/fragments/header :: header}"></div>
    </header>

    <main layout:fragment="content">
        <!-- Nội dung sẽ được chèn từ các template khác -->
    </main>

    <footer>
        <div th:replace="~{admin/fragments/footer :: footer}"></div>
    </footer>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>
